include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        +Navbar()
        section.main
            .container
                +Sidebar()
                .container
                    .slider__wrapper
                        .slider.owl-carousel
                            .slider__item
                                img(src="assets/images/slider/1.jpg", alt="")
                                .wrapper
                                    .item__title 
                                        span Доставка песка, щебня, грунта чернозёма, гравия, глины и других сыпучих материалов
                                    button.btn.orange.big(modal="modalForm") Расчитать стоимость
                            .slider__item
                                img(src="assets/images/slider/1.jpg", alt="")
                                .wrapper
                                    .item__title 
                                        span Доставка песка, щебня, грунта чернозёма, гравия, глины и других сыпучих материалов
                                    button.btn.orange.big Расчитать стоимость
                            .slider__item
                                img(src="assets/images/slider/1.jpg", alt="")
                                .wrapper
                                    .item__title 
                                        span Доставка песка, щебня, грунта чернозёма, гравия, глины и других сыпучих материалов
                                    button.btn.orange.big Расчитать стоимость
                        .owl__nav
                            .nav
                            .dots
                    +OurPluses()
                    .our__products
                        h1.title Выберите сопутствующие материалы для строительства:
                        .wrapper
                            +ProductCard('1', 'Речной песок')
                            +ProductCard('2', 'Мытый песок')
                            +ProductCard('3', 'Карьерный песок')
                            +ProductCard('4', 'Чернозем')
                            +ProductCard('5', 'Грунт плодородный')
                            +ProductCard('6', 'Песчано гравийная смесь (ПГС)')
                            +ProductCard('7', 'Гравий')
                            +ProductCard('8', 'Глина')
                            +ProductCard('9', 'Щебень')
        +SectionCallback()
        +SectionCalculator()
        +SectionOrder()
        +Reviews()
        +Footer()    
        +Modal('modalForm', 'ModalForm')

        include pug/scripts.pug