include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        header.navbar 
            .container
                .logo
                    img(src="assets/images/logo.png", alt="")
                .form__city(value="Истра")
                    span.text Ваш город:
                    span.city Истра
                    .select
                        span Истра
                        span Нфыварколыв
                        span Истра3
                .contact__phone
                    a(href="#") 
                        +ContactPhone()
                button.btn.orange расчитать стоимость
                a(href="").btn.border прайс-лист для юр. лиц
            .menu__wrapper
                .container
                    +Menu()

        include pug/scripts.pug