include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body 
        +Navbar()
        section.main
            .container
                +Sidebar()
                .container
                    .banner__wrapper
                        img(src="assets/images/products_banners/1.jpg", alt="").banner
                        .text__wrapper
                            ul.breadcrumb
                                li
                                    a(href="/") Главная 
                                span -
                                li 
                                    a(href="") Продукция
                                span -
                                li.active
                                    a(href="") Речной песок
                            h1 Речной песок <br> в Истре
                            h2 от 452 руб./м3
                        +FormCalculator()
                    +OurPluses()
                    .product__desc.cke__wrapper
                        h1 Купить речной песок в Истре
                        p Мы реализуем нерудное сырье и предлагаем купить песок, щебень в Нижнем Новгороде с оперативной доставкой. Выполняем заявленные объемы и соблюдаем сроки. При необходимости поможем подобрать материал для конкретного вида работ. В сотрудничестве с нами Вы сможете начать и гарантированно завершить строительство согласно смете/расчетам.
                        ul 
                            li Предоставляем материалы высокого качества, подкрепленное сертификатами и паспортами.
                            li Работаем только с официальными производителями (разработчиками) материалов. 
                        h1 Какой песок, щебень мы предлагаем купить
                        p Доступный нерудный материал способствует реализации широкого спектра задач в сфере ландшафтного дизайна, благоустройства территории, строительства. На любую строительную площадку Нижнего Новгорода привезем песок и щебень, купить который можно по персональным условиям и оперативной доставкой. 
                        ul 
                            li Предоставляем материалы высокого качества, подкрепленное сертификатами и паспортами.
                            li Работаем только с официальными производителями (разработчиками) материалов.
        section.our__products
            .container
                h1.title Выберите сопутствующие материалы для строительства:
                .wrapper
                    .owl-carousel
                        +ProductCard('1', 'Речной песок')
                        +ProductCard('2', 'Мытый песок')
                        +ProductCard('3', 'Карьерный песок')
                        +ProductCard('4', 'Чернозем')
                        +ProductCard('5', 'Грунт плодородный')
                        +ProductCard('6', 'Песчано гравийная смесь (ПГС)')
                        +ProductCard('7', 'Гравий')
                        +ProductCard('8', 'Глина')
                        +ProductCard('9', 'Щебень')
                    .navigation
                        .owl__nav
                            .nav
                            .dots
        +SectionOrder()
        +SectionCallback()
        +SectionCalculator()
        +Reviews()
        section.faq
            .container
                h1.title Речной песок - вопросы и ответы:
                .wrapper
                    .question
                        h3 Пригоден ли речной песок для приготовления бетона?
                        .content
                            span
                                |Речной песок не содержит глины и примесей, также имеет размер зерен, подходящий для бетонного раствора. Тем самым речной песок можно использовать для приготовления бетона.
                    .question
                        h3 Пригоден ли речной песок для приготовления бетона?
                        .content
                            span
                                |Речной песок не содержит глины и примесей, также имеет размер зерен, подходящий для бетонного раствора. Тем самым речной песок можно использовать для приготовления бетона.
        +Footer()
        include pug/scripts.pug
